body {
    background-image: url(img/wallpaper.png);
    background-size: cover;
    font: normal 15pt Arial;
}

header {
    padding-top: 20px;
    text-align: center;
}

header .navbar {
    margin: 20px;
    margin-left: 250px;
}

header .navbar a{
    font-size: 20px;
    margin-left: 2rem;
    color:var(--ocean);
    padding-right: 8px;
}

header .navbar a:hover{
    color:var(--blue);
}

section {
    background: white;
    border-radius: 10px;
    padding: 15px;
    width: 800px;

    margin: auto;
    box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.397);
}

footer {
    color: white;
    text-align: center;
    font-style: italic;

}

#foto {
    margin: 20px;
}

.grid-container {
    display: grid;
    grid-template-areas:
      'box1 foto';
    gap: 10px;
}

#paragrafo1 {
    text-align: justify;
    font-size: 28px;
    margin-left: 40px;
}

#paragrafo2 {
    text-align: justify;
    font-size: 18px;
    margin-left: 40px;
}
